<template>
    <nuxt-link :to="postLink">
        <v-card class="card-post">
        <v-img
            class="white--text"
            height="200px"
            :src="url"
        >
            <v-container fill-height fluid>
            <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                <span class="headline">{{ title }}</span>
                </v-flex>
            </v-layout>
            </v-container>
        </v-img>
        <v-card-title>
            <div>
            <span>{{previewText}}</span><br>
            </div>
        </v-card-title>
        </v-card>
    </nuxt-link>
</template>

<script>
export default {

  name: 'PostPreview',
  props:{
    id:{
      type: String,
      required: true
    },
    isAdmin:{
      type: Boolean,
      required: true
    },
    title:{
      type: String,
      required: true
    },

    previewText: {
      type: String,
      required: true
    },

    url: {
      type: String,
      required: true
    }
  },
  computed:{
    postLink(){
      console.log('/admin/' +this.id)
      return this.isAdmin ? '/admin/' +this.id : '/posts/' + this.id
    }
  }

}
</script>

<style>
  .card-post{
    width: 500px;
  }

  a{
    text-decoration: none;
  }
</style>
