<template>
    <section class="post-list">
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
            <v-flex xs12 class="post" 
              v-for="post in posts"
              :key="post.id">
                <PostPreview 
                    :is-admin="isAdmin" 
                    :id='post.id' 
                    :title="post.title"  
                    :previewText="post.previewText" 
                    :url="post.url"/>
            </v-flex>
            </v-layout>
        </v-container>
    
    </section>
</template>

<script>
import PostPreview from '@/components/Posts/PostPreview.vue'
export default {
    components:{
        PostPreview
    }, 
    props: {
        isAdmin: {
            type: Boolean,
            default: false
        }, 
        posts:{
            type: Array,
            required: true
        }
    }
}
</script>

<style>
  .post-list{
    display: flex;
    justify-content: center;
  }

    .post{
    height: 250px;
    width: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
</style>

