<template>
    <div class="admindNewPost">
        <section class="new-post-form">
                <PostForm @submit="onSubmit"/>        
        </section>
    </div>
</template>

<script>
import axios from 'axios'
import PostForm from '@/components/Admin/PostForm'

export default {
    layout: 'admin',
    middleware: ['check-auth', 'auth'],
    components:{
        PostForm
    }, 
    methods:{
        onSubmit(post){
           this.$store.dispatch('addPost', post).then(() => {
               this.$router.push('/admin')}
           )
        }
    }
}
</script>

