<template>
    <div class="admin-post-page">
        <section class="update-form">
            <PostForm :post="loadedPost" @submit="onSubmit"/>
        </section>
    </div>
</template>


<script>
import PostForm from '@/components/Admin/PostForm'
export default {
    layout: 'admin',
    middleware: ['check-auth', 'auth'],
    components: {
        PostForm
    },
    asyncData(context){
        console.log(context.params.postId)
        return context.app.$axios.$get('/posts/' + context.params.postId +'.json')
        .then(data => {
            console.log(data)
            return {
                loadedPost: {...data, id: context.params.postId}
            }
        })
        .catch(e => context.error(e))
    },
    methods:{
        onSubmit(editedPost){
            this.$store.dispatch('editedPost', editedPost).then(() => {
                this.$router.push('/admin')
            })
            
        }
    }
}
</script>
