<template>
  <div class="home-page">
    <section class="home-title">
      <h1>Cosas súper rainbows :D</h1>
    </section>
    <PostList :posts="loadedPosts"/>
  </div>
</template>

<script>
export default{
  computed:{
    loadedPosts (){
      return this.$store.getters.loadedPosts
    }
  }
}

</script>

<style scoped>
  .home-title{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #df83df;
  }

  .featured-posts{
    display: flex;
    justify-content: center;
  }

  .post{
    height: 250px;
    width: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }


</style>
